<div class="jumbotron bg-white text-center">
  <h1 class="display-4">Corona Covid-19 Tracker Coutry Wice</h1>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci alias aliquid atque aut corporis dolore illo incidunt magni modi, necessitatibus nostrum optio provident quam quibusdam reprehenderit tempore voluptas voluptatum!</p>
  <hr class="my-4">
  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut distinctio dolores dolorum excepturi, facere fuga, id illum in laudantium minima necessitatibus nemo non perferendis possimus recusandae sequi temporibus voluptatum? Eaque?</p>
</div>
